* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: 'Be Vietnam', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-links li {
    list-style: none;
    margin-top: 30px;
}


}
.nav-links li .btn {
    position: relative;
    top: -10px;
    border-color: hsl(12, 88%, 59%);
}
.nav-links li .btn:hover {
    background-color: white;
    color: hsl(12, 88%, 59%);
    border-color: hsl(12, 88%, 59%);
}
.nav-links a {
    color: hsl(233, 12%, 13%);
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s ease;
}
.nav-links a:hover {
    color: hsl(227, 12%, 61%);
}
.burger {
    display: none;
    cursor: pointer;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: hsl(233, 12%, 13%);
    margin: 5px;
}
@media screen and (max-width:768px) {
    .nav-links {
        height: 50%;
    }
    
    .nav-links a {
        align-items: center;
    }
}
@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: hsl(13, 100%, 96%);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .burger {
        display: block;
    }
}
.nav-active {
    transform: translateX(0%);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*top section*/
#top,
#middle {
    align-items: center;
    align-content: center;
}
h1 {
    padding: 5% 10% 5% 0;
    font-weight: 700;
}
h5 {
    color: hsl(227, 12%, 61%);
    line-height: 2rem;
    font-weight: 400;
}
.btn {
    background-color: hsl(12, 88%, 59%);
    color: white;
    border-radius: 25px;
    align-items: center;
}
#top .btn {
    margin: 10% 0;
}
h4 {
    margin: 0 10px;
}
.btnnavbar {
    margin-left: 3%;
}
.logonavbar {
    margin-right: 10%;
}
.text-font {
    font-family: 'Be Vietnam', sans-serif;
}
.title-weight-bold {
    font-weight: 700;
    color: hsl(233, 12%, 13%);
}
.name-weight,
.subtitle-weigh {
    font-weight: 500;
    color: hsl(233, 12%, 13%);
}
#calltoaction {
    background-color: hsl(12, 88%, 59%);
    padding: 60px 20px;
}
#social {
    background-color: hsl(233, 12%, 13%);
    padding: 60px 20px;
}
.btn-calltoaction {
    background-color: white;
    color: hsl(12, 88%, 59%);
    border-color: hsl(12, 88%, 59%);
    border-radius: 25px;
    margin: 3% 1% 0 50%;
}
.col-features {
    padding: 1% 5% 1% 0;
}
.title-row {
    padding: 5% 10% 3% 0;
}
.cont-opinions {
    align-items: center;
    padding: 50px 15% 50px 15%;
    text-align: center;
}
@media screen and (max-width:768px) {
    .cont-opinions {
        padding: 50px 15% 50px 22%;
    }
}
.title-opinions {
    padding: 30px 0;
}
.name-pad {
    padding: 15px 0;
}
.search-row {
    padding: 10px 0 40px 0;
}
.contmiddle {
    padding-left: 30px;
}
@media screen and (max-width:768px) {
    .contmiddle {
        margin-left: 5%;
    }
}
.socialicon {
    padding-right: 3%;
}
.calltoaction-color {
    color: white;
}
.introductionIm {
    width: 100%;
}
.input-footer {
    height: 50px;
    border-radius: 25px;
    margin-right: 1%;
}